<div class="all-goods">

    <div class="flip sale">Akciós termékek</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>


    <div class="flip christmas">Karácsony</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>


    <div class="flip">Zöldség</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/burgonya új.jpg" alt="">
                </div>
                <div class="products-prices">
                    <p>Sárgaburgonya <br> 249 Ft/kg</p>
                </div>
            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/fejeskáposzta1.jpg" alt="Fejeskáposzta">
                </div>
                <div class="products-prices">
                    <p>Fejeskáposzta <br> 299 Ft/kg</p>
                </div>

            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/kelkáposzta.jpg" alt="Kelkáposzta">
                </div>
                <div class="products-prices">
                    <p>Kelkáposzta <br> 599 Ft/kg</p>
                </div>

            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/Lilakáposzta.JPG" alt="Lilakáposzta">
                </div>
                <div class="products-prices">
                    <p>Lilakáposzta <br> 399 Ft/kg</p>
                </div>



                <a class="close_panel" href="#/">Vissza</a>
            </div>
        </div>
    </div>

    <div class="flip">Gyümölcs</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>



    <!--Savanyúság-->

    <div class="flip">Barnucz féle savanyúság</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>


    <!--Szárazáru-->

    <div class="flip">Szárazáru</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Tartós élelmiszerek</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">

            <div id="flip31">Fűszerek</div>


            <div id="flip32">Tészták</div>


            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>



    <div class="flip">Édességek, chipsek</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Állateledel</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Üdítők, ásványvizek</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Szeszes ital</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <div id="flip33">Bor</div>
            <div id="flip34">Sör</div>
            <div id="flip35">Rövidital</div>
            <div id="flip36">Pezsgő</div>
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Háztartási cikkek</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

    <div class="flip">Higénia/Szépségápolás</div>
    <div class="panel" style="overflow: hidden;">
        <div class="products">
            <a class="close_panel" href="#/">Vissza</a>
        </div>
    </div>

</div>

</div>