<div class="allGoods">
    <a id="categories"></a>


    <div id="flip111">Akciós termékek</div>


    <div id="panel111" style="overflow: hidden;">
        <div class="products">

            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip22">Karácsony</div>


    <div id="panel22" style="overflow: hidden;">
        <div class="products">



            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>


    <div id="flip1">Zöldség</div>
    <div id="panel1" style="overflow: hidden;">
        <div class="products">

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/burgonya új.jpg" alt="">
                </div>
                <div class="products-prices">
                    <p>Sárgaburgonya <br> 249 Ft/kg</p>
                </div>
            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/fejeskáposzta1.jpg" alt="Fejeskáposzta">
                </div>
                <div class="products-prices">
                    <p>Fejeskáposzta <br> 299 Ft/kg</p>
                </div>

            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/kelkáposzta.jpg" alt="Kelkáposzta">
                </div>
                <div class="products-prices">
                    <p>Kelkáposzta <br> 599 Ft/kg</p>
                </div>

            </div>

            <div class="products-box">
                <div class="products-pics">
                    <img class="products-img" src="assets/Zöldségek/Lilakáposzta.JPG" alt="Lilakáposzta">
                </div>
                <div class="products-prices">
                    <p>Lilakáposzta <br> 399 Ft/kg</p>
                </div>



                <a class="acat" href="#categories">Vissza</a>
            </div>
        </div>
    </div>

    <div id="flip2">Gyümölcs</div>


    <div id="panel2" style="overflow: hidden;">
        <div class="products">



            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <!--Savanyúság-->

    <div id="flip3">Barnucz féle savanyúság</div>
    <div id="panel3" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <!--Szárazáru-->

    <div id="flip4">Szárazáru</div>
    <div id="panel4" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip5">Tartós élelmiszerek</div>
    <div id="panel5" style="overflow: hidden;">
        <div class="products">

            <div id="flip31">Fűszerek</div>


            <div id="flip32">Tészták</div>


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>



    <div id="flip8">Édességek, chipsek</div>
    <div id="panel8" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip9">Állateledel</div>
    <div id="panel9" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip10">Üdítők, ásványvizek</div>
    <div id="panel10" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip7">Szeszes ital</div>
    <div id="panel7" style="overflow: hidden;">
        <div class="products">

            <div id="flip33">Bor</div>

            <div id="flip34">Sör</div>

            <div id="flip35">Rövidital</div>

            <div id="flip36">Pezsgő</div>

            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip6">Háztartási cikkek</div>

    <div id="panel6" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

    <div id="flip11">Higénia/Szépségápolás</div>
    <div id="panel11" style="overflow: hidden;">
        <div class="products">


            <a class="acat" href="#categories">Vissza</a>
        </div>
    </div>

</div>

</div>