<div class="sidebar">
    <h1>Maradjon otthon,</h1>
    <h1>ne menjen ki!</h1>
    <h1>JaniFutár</h1>
    <h1>Házhoz viszi!</h1>
    <p class="second-headline">Ingyenes kiszállítás:</p>
    <ul>
        <li>Salgótarján egész területe</li>
        <li>Zagyva</li>
        <li>Bátonyterenye</li>
        <li>Vizslás-Újlak</li>
    </ul>
    <p class="second-headline">3000Ft felett ingyenes kiszállítás:</p>
    <ul>
        <li>Szúpatak</li>
        <li>Dorogháza</li>
        <li>Nemti</li>
        <li>Mátraverebély</li>
        <li>Tar</li>
        <li>Mátraszőlős</li>
        <li>Rákóczibánya</li>
        <li>Kazár</li>
        <li>Somoskőújfalu</li>
    </ul>
    <p class="second-headline">Ha a rendelés összege nem éri el a meghatározott értéket, 500 Ft kiszállási díjat
        számolunk fel!</p>
    <p class="second-headline2" style="margin-top: 1rem;">Megrendelés minimum összege: 1000Ft</p>
    <p class="second-headline" style="margin-top: 1rem;">Megértésüket köszönjük!</p>
    <h1>Fizessen kényelmesen, bankkártyával!</h1>
    <img class="bankcard" src="static/hitelkartya.jpg" alt="">
    <h1>Rendelésfelvétel telefonon:</h1>
    <p class="second-headline">Nagy János: <br> 0630/393-5554</p>
    <p>Hétfőtől vasárnapig <br> 09:00 - 18:00 között</p>
    <p class="second-headline">Emailben: janifutar@gmail.com</p>
    <p>Hamarosan weboldalunkon keresztül is!</p>
    <p class="second-headline">Kiszállítás 24 órán belül!</p>
    <p>A 13:00 óra előtt leadott rendeléseket aznap kiszállítjuk!</p>
</div>